.*
!/.gitignore
node_modules/
build/
deps/
bower_components/
dist/
xcuserdata/
xcshareddata/
build/
DerivedData/
bin/
out/
Debug/
Release/
*.xcworkspace
*.lock
*.xccheckout
*.pbxuser
.DS_Store
*.log
*.workspace
*.project
*.mk