.*
!/.gitignore
node_modules/
build/
deps/
bower_components/
dist/
xcuserdata/
xcshareddata/
build/
DerivedData/
*.xcworkspace
*.lock
*.xccheckout
*.pbxuser
.DS_Store
*.log
*.workspace
*.mk
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
